.utils-flex-box{
 display: flex;
 align-items: center;
 justify-content: center;
}

.utils-hr-line-end-of-sections{
 margin: 15px 0px;
}

@media(min-width: 1000px){
 .utils-hr-line-end-of-sections{
  margin: 2.5rem 0px;
 }
}

.utils-heading-strating-of-sections{
 font-size: 1.8rem;
 font-weight: 900;
 margin-bottom: 15px;
 width: 100%;
}

.utils-text{
 display: block;
 width: auto;
 margin-left: 8px;
 margin-right: 8px;
 font-size: 1.1rem;
 text-align: center;
 font-weight: 400;
 margin-top: 15px;
 margin-bottom: 15px;
}

.utils-align-left{
 text-align: left;
}

.utils-float-left{
 float: left;
 
}

/* ============================================ */

/* ============================================ */





