*{
 margin: 0;
 padding: 0;
 color: black;
}




/*-------------------------------------------*/
/*           SEARCH BAR SECTION              */
/*-------------------------------------------*/
/* styling main container or search page */
#search-ka-main-container{ 
 width: 100vw;
 background: #d0d0d;
 height: 100vh;
 overflow: hidden;
}
/* styling box or search */
#search-box{
 display: flex;
 align-items: center;
 width: 91.5%;
 margin-left: 1%;
 margin-right: 1%;
 border: 2px solid black;
 border-radius: 25px;
 margin-top: 1%;
 padding: 3px 2.6%;
 height: 40px;
 margin-bottom: 15px;
 min-height: 40px;
}
/* styling input, means search bar */
#myInput {
 width: 95%;
 font-size: 16px;
 padding: 5px 4px;
 border: none;
 background: transparent;
 outline: none;
 border-radius: 5px;
 font-size: 18px;
 color: black;
 height: 28px;
 display: inline-block;
}
/* styling search button => (search image) */
#search-btn{
 display: inline-block;
 height: 90%;
}
/*==========================================*/




/*-------------------------------------------*/
/*       SEARCH SUGGESTION SECTION           */
/*-------------------------------------------*/
/* container or search suggestion boxes */
#suggested-search-container{
 width: 97%;
 overflow-y: auto;
 height: 90%;
 background: #e7e7e7;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
}

/*-- delete all search history btn sec --*/
#container-for-delete-all-history-btn{
  height: 26px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* box of delete image */
#delete-all-search-history-btn{
  height: 90%;
  aspect-ratio: 1/1;
}
/* delete image */
#delete-all-search-history-btn img{
  height: 100%;
}

/* search suggestion box */
.suggested-search-box{
 display: flex;
 justify-content: space-between;
 box-sizing: border-box;
 width: 96.5%;
 margin-left: auto;
 margin-right: auto;
 align-items: center;
 background: #dfdfdf;
 margin-top: 7px;
 margin-bottom: 3px;
 font-size: 1.2rem;
 border-radius: 5px;
 color: black;
 background: transparent;
}
/* span, that contains contains searched text */
.suggest-search-span{
  height: 100%;
  width: 85%;
  padding: 13px 0%;
}
/* styling arrow (up right arrow) image inside search box */
.suggested-search-box img{
 height: 24px;
}
/*==========================================*/




/*-------------------------------------------*/
/*           MEDIA QUERY SECTION             */
/*-------------------------------------------*/
@media(max-width: 900px){
 /* styling input, means searchbar */
 #search-box{
  max-height: 45px;
 }
 
 /* styling image container */
 .img-container{
   height: 48px;
   aspect-ratio: 1/1;
 }
 
 /* styling image container ka img */
 .img-container img{
  height: 95%;
 }
}
